### Notes from Python Crash Course -- 
https://www.udemy.com/course/python-for-data-science-and-machine-learning-bootcamp/learn/lecture/5733138?start=75#overview

### Lists

In [3]:
my_list = ['Darrell', 'Barb', 'Rachel', 'Sarah', 'Zoey']

In [4]:
my_list.append('Harley')

In [5]:
my_list

['Darrell', 'Barb', 'Rachel', 'Sarah', 'Zoey', 'Harley']

In [6]:
my_list[4]

'Zoey'

In [8]:
my_list[4:]

['Zoey', 'Harley']

In [9]:
my_list[5] = 'Harley-Boo'

In [10]:
my_list

['Darrell', 'Barb', 'Rachel', 'Sarah', 'Zoey', 'Harley-Boo']

In [11]:
nest = [1,2,[3,4]]

In [12]:
nest[2]

[3, 4]

In [13]:
nest[2][1]

4

In [14]:
nest = [1,2,3,[4,5,['target']]]

In [15]:
nest[3][2][0]

'target'

## Dictionaries

In [17]:
d = {'key1':'value','key2':123}

In [18]:
d['key2']

123

In [19]:
d = {'k1':[1,2,3]}

In [20]:
d['k1']

[1, 2, 3]

In [21]:
d['k1'][1]

2

In [23]:
d = {'k1':{'innerkey':[1,2,]}}

In [26]:
d['k1']['innerkey'][1]

2

## Tuples & Sets

In [27]:
tuple = (1,2,3)  #like a list, but tuples are immutable - can't be changed

In [29]:
tuple[0]

1

In [30]:
{3,4,5,1,1,2,2,7,8,3,5} #Sets {} only unique elements

{1, 2, 3, 4, 5, 7, 8}

In [32]:
#If you have a list and want only the unique elements -- change to a set

set(['a', 'b', 'd', 'e', 'a', 'a', 'b', 'b', 'c', 'e', 'd', 'c', 'd', 'z'])

{'a', 'b', 'c', 'd', 'e', 'z'}

In [33]:
s = {1,2,3}
s.add(9)

In [34]:
s

{1, 2, 3, 9}

In [36]:
1 < 2 and 2 > 3

False

In [37]:
(1 < 2) or (2 < 3) or (1 == 5)

True

In [41]:
if 1 > 2:
    print('yep')
elif 4 == 3 + 1:
    print('only runs to the first true elif or else')
elif 3 == 3:
    print('this is how elif works')
else:
    print('nope')

only runs to the first true elif or else

### FOR Loop

In [44]:
seq = [1,2,3,4,5]

for num in seq:
    print(num * 30)

30
60
90
120
150

### WHILE Loop

In [46]:
i = 0

while i < 5:
    print(f'i is: {i}')
    i = i + 1

i is: 0
i is: 1
i is: 2
i is: 3
i is: 4

### RANGE

In [47]:
range(0, 5)  #generates numbers in a range

for x in range(0,5):
    print(x)

0
1
2
3
4

In [48]:
list(range(30))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

### LIST COMPREHENSION

In [50]:
x = [1,2,3,4,5,6,7]

output = []

for num in x: 
    output.append(num**2)
print(output)

[1, 4, 9, 16, 25, 36, 49]

In [52]:
#Doing this ^^^ in list comprehension
x = [1,2,3,4,5,6,7]
out = [num**2 for num in x]
out

[1, 4, 9, 16, 25, 36, 49]

### FUNCTIONS

In [53]:
def my_func(name):
    print('Hello '+name)
    
my_func('Sarah')

Hello Sarah

In [58]:
def square(num):
    """This is a docstring.  Essentially, just a very
    long comment. This function squares a number. When we
    begin typing the function name and shift tab, we will
    see this documentation string.
    """
    return num**2

In [59]:
square(12)

144

### Lamda

In [63]:
def times2(var):
    return var*2

times2(450)

900

In [66]:
#map() - a builtin python function
# apply the function times2 to every element in list seq

seq = [1,2,3,4,5]

list(map(times2, seq))

[2, 4, 6, 8, 10]

In [72]:
#if this is a one-time function -- just use a lamda
# to change this to lambda: 
# def times2(var):      REMOVE THE KEYWORDS def AND return
#    return var*2
#  Pull function onto one line
# remove the keywords: def and return
# remove () around original function call

t = lambda var : var*2
t(6)

12

In [71]:
list(map(lambda num: num*3,seq))

[3, 6, 9, 12, 15]

In [73]:
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

### Methods

In [74]:
s = 'hello my name is Sam'
s.lower()

'hello my name is sam'

In [75]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [77]:
tweet ='Go Sports! #Sports'
tweet.split('#')[1]

'Sports'

In [78]:
d = {'k1' : 1, 'k2' : 2}
d

{'k1': 1, 'k2': 2}

In [79]:
d.keys()

dict_keys(['k1', 'k2'])

In [80]:
d.values()

dict_values([1, 2])

In [81]:
lst = [1,2,3]
lst.pop()

3

In [82]:
lst = [1,2,3,4,5]
item = lst.pop()

In [83]:
item

5

In [84]:
'x' in [1,2,3]

False

In [87]:
'x' in ['x','y','z']

True

In [88]:
#unpacking tuples

x = [(1,2), (3,4), (5,6)]

In [89]:
for (a, b) in x:
    print(b)

2
4
6

In [90]:
for a,b in x:   #. <--  parentheses unnecessary in tuple unpacking
    print(a)

1
3
5

In [91]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)